@charset "utf-8";

.first-view{
    height:  calc(100vh - 110px );
    background-image: url(../images/index/bg-main.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display:  flex;
    align-items: center;
}

.first-view-text{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-bottom: 80px;
    color: #ffffff;
    font-weight: bold;
    text-shadow:  1px 1px 10px #4b2c14;
}

.first-view-text h1 {
     font-family: 'Montserrat', sans-serif;
     font-size: 56px;
     line-height: 72px;
}
